.welcomeUser {
    font-size: 40px;
    color: #aa2020
}
h3 {
    font-size: 25px;
    text-align: left;
    color: #fa6b71;
    margin-left: 20px;
}
.nutritionalBreakdown {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    color: #344861;
}
