.welcomeUser {
    font-size: 40px;
    color: #aa2020;
    padding-top:10px;
}

canvas {
    width: 100vw !important;
    height: auto !important;

}

h3 {
    font-size: 25px;
    text-align: left;
    color: #fa6b71;
    margin-left: 20px;
}
.nutritionalBreakdown {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    color: #344861;
}
.breakdowns {
    font-size: 25px;
    text-align: center;
    color: #aa2020;
    
}
.totCals {
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
    color: #aa2020;
}
.app {
    background-color: #aa2020;
}

.signInLink {
    color: black;
}
.signInLink:hover {
    text-decoration: underline;
}

@media screen and (min-width:768px) {
    .welcomeUser {
        font-size: 60px;
        padding-top:20px;
    }
    .nutritionalBreakdown {
        margin-left: 60px;
        margin-right: 60px;
        font-size: 40px;
    }
}

@media (orientation: landscape) {
    .dashContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        
    }

    canvas {
        width: 50vw !important;
        height: auto !important;
    
    }
}

