.foods {
    font-size: 40px;
    color: #951F41;
    text-align: center;
}
h2 {
    font-size: 24px;
    text-align: left;
    list-style-type: disc;
    /* margin-left: 10px; */
    color: white;
    text-align: center;
}
li {
    border: solid #AA2021 1px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #AA2021;
}
.addFood {
    font-size: 20px;
}
.list {
    margin-left: 0px;
}