.foodContainer {
    width: 100vw;
}

.crudButton {
     color: #aa2020;
     width: 150px;
     height: 40px;
     border-radius: 60px;
     font-size: 15px;
     font-weight: bold;
     margin-top: 10px;
     background-color: white;
     font-family: 'Roboto', sans-serif;
}

canvas {
    width: 100vw !important;
    height: auto !important;
}

.foodNameh2 {
    color: #AA2021;
    font-size: 40px;
}
.data {
    color: #AA2021
}

@media (orientation: landscape) {
    .foodContainer {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
    }

    .foodStats {
        width: 50vw;
    }

    canvas {
        width: 50vw !important;
        height: auto !important;
    
    }
}
