.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
} 
h1 {
    color: #aa2020;
    /* font-size: 20px; */
} 
.header {
    display: flex;
    background-color: #aa2020;
}
li {
   color: white;
}
a {
    text-decoration: none;
    margin-right: 5px;
}
a:hover {
    text-decoration: underline white;
} 
.dash, .log, .food, .team {
    border: none;
}
.headerh1 {
    color: white;
    font-family: 'Bubbler One', sans-serif;
}