
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #aa2020;
}
.headerh1 {
    color: white;
    font-family: 'Bubbler One', sans-serif;
    margin-left: 20px;
}

.nav {
    text-decoration: none;
    color: inherit;
}

.nav-items {
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
}

.hamburger-btn {
    padding: 0px 20px;
    width: 40px;
    height: 40px;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5 ease-in-out;
    cursor: pointer;
}

.hamburger-patty {
    width: 30px;
    height: 3px;
    background-color: white;
    transition: all .5 ease-in-out;
    cursor: pointer;
}

.hamburger-patty::before,
.hamburger-patty::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px; 
    background-color: white;
}

.hamburger-patty::before {
    transform: translateY(10px);
}

.hamburger-patty::after {
    transform: translateY(-10px);
}

.hamburger-btn.open .hamburger-patty {
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-btn.open .hamburger-patty::before {
    transform: rotate(-45deg) translate(35px, 35px)
}

.hamburger-btn.open .hamburger-patty::after {
    transform: rotate(45deg) translate(35px, -35px)
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    height: 0px;
    overflow: hidden;
}

.dropdown-menu.show {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #aa2020;
    height: 250px;
}

.nav-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

/* .nav-link:hover {
    color: #ffbb00;
} */

@media(hover: hover) and (pointer: fine) {
    .navflex {
        justify-content: flex-start;
        align-items: center;
    }
    
    .nav-link-desktop {
        visibility: visible;
        width: 150px;
        text-align: center;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    #nav-three {
        height: 24px;
        cursor: pointer;
    }

    #nav-three:hover {
        color: #ffbb00;
    }

    .nav-link-desktop:hover {
        color: #ffbb00;
    }

    .hamburger-btn {
        visibility: hidden;
        cursor: default;
    }
    .dropdown-menu.show {
        visibility: hidden;
        height: 0px;
    }
}




.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
} 
h1 {
    color: white;
} 
.header {
    display: flex;
    background-color: #aa2020;
    width: 100%;
}
li {
   color: white;
}
a {
    text-decoration: none;
    margin-right: 5px;
}
a:hover {
    text-decoration: underline white;
} 
.dash, .log, .food, .theTeam {
    border: none;
    color: white;
}
