.endDay {
    color: #aa2020;
     width: 170px;
     height: 60px;
     border-radius: 60px;
     font-size: 25px;
     font-weight: bold;
     margin-top: 30px;
     background-color: white;
     font-family: 'Roboto', sans-serif;
}
.yes, .no {
     color: #aa2020;
     background-color: white;
     font-family: 'Roboto', sans-serif;
     width: 100px;
     height: 30px;
     border-radius: 60px;
     font-size: 15px;
     font-weight: bold;
     margin-top: 30px;
}
.yousure {
     color: #aa2020;
     background-color: white;
     font-family: 'Roboto', sans-serif;
}
.foodArray {
     padding-right: 40px
}
.today {
     color: #aa2020;
     margin-top:30px;
     font-size: 40px;
     padding-left: 60px;
}

@media screen and (min-width:768px) {
      .logContainer {
          align-items: center;
          max-width: 100vw;
          text-align: center;
          margin-left: 13vw;
          margin-right:13vw;
      }
     .today {
          padding-left: 0px;
     }
}
