 @import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 /* body {
     background: #aa2020;
     color: white;
     margin-top: 150px;
     font-size: 60px;
     font-family: 'Roboto', sans-serif;
 } */
 h1 {
    font-family: 'Bubbler One', sans-serif; 
    text-align: center;
    font-size: 80px;
    color: white;
 }
 label {
     font-size: 40px;
     color: white;
 }
 input {
     height: 28px;
     width: 170px;
     margin-bottom: 7px;
     font-size: 20px;
 }
 button {
     color: #aa2020;
     width: 170px;
     height: 60px;
     border-radius: 60px;
     font-size: 40px;
     font-weight: bold;
     margin-top: 30px;
 }