.pw, .username {
    color: white;
    margin-left: 30px;
}
.cancelButton {
    align-items: center;
}
.enterButton, .cancelButton {
    color: #aa2020;
    background-color: white;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
a {
    align-items: center;
}