.name {
    color: black;
}
.team {
    color: #aa2020;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
}
p {
    color: #aa2020;
    margin-left: 30px;
    margin-right: 30px;
}