.container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #aa2020;
    display: flex;
    flex-wrap: wrap;
}
.name {
    text-align: center;
    color: black;
}
.team-Member {
    border: solid black 2px;
    border-radius: 60px;
    background-color: white;
    max-width: 31vw;
    min-width: 25vw;
    margin-left: 2em;
    margin-right: 2em;
}
.team {
    background-color: #aa2020;
    color: white;
    padding-bottom: 10px;
}
.shaipic {
    max-width: 250px; 
}
.team-container {
    color: #aa2020;
}
p {
    color: #aa2020;
}